---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="service">
    <main>
        <div class="l-mv">
            <h1>事業内容</h1>
        </div>
        <!-- <section class="p-serivice">    
            <ul class="p-serivice-list">
                <li class="p-serivice-list-item --arch">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <div class="p-serivice-list-item__text-right">
                        <h3 class="p-serivice-list-item__sub-heading">
                            安心して集える場を
                        </h3>
                        <p class="p-serivice-list-item__desc">
                            私たちはこれまでお客様の安全を第一に考えて参りました。
                            建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                            自慢の技術を是非ご覧ください。
                        </p>
                    </div>
                </li>
                <li class="p-serivice-list-item --civil">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <div class="p-serivice-list-item__text-right">
                        <h3 class="p-serivice-list-item__sub-heading">
                            安心して集える場を
                        </h3>
                        <p class="p-serivice-list-item__desc">
                            私たちはこれまでお客様の安全を第一に考えて参りました。
                            建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                            自慢の技術を是非ご覧ください。
                        </p>
                    </div>
                </li>
                <li class="p-serivice-list-item --house">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <div class="p-serivice-list-item__text-right">
                        <h3 class="p-serivice-list-item__sub-heading">
                            安心して集える場を
                        </h3>
                        <p class="p-serivice-list-item__desc">
                            私たちはこれまでお客様の安全を第一に考えて参りました。
                            建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                            自慢の技術を是非ご覧ください。
                        </p>
                    </div>
                </li>
            </ul>
        </section> -->
        <section class="p-fixed-bg">
            <div class="p-fixed-bg__wrap">
                <div class="p-fixed-bg__area --arch is-active">
                    <div class="p-service__inner">
                        <li class="p-serivice-list-item --arch">
                            <h2 class="p-serivice-list-item__heading">
                                建築事業
                            </h2>
                            <div class="p-serivice-list-item__text-right">
                                <h3 class="p-serivice-list-item__sub-heading">
                                    安心して集える場を
                                </h3>
                                <p class="p-serivice-list-item__desc">
                                    私たちはこれまでお客様の安全を第一に考えて参りました。
                                    建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                                    自慢の技術を是非ご覧ください。
                                </p>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="p-fixed-bg__area --house">
                    <div class="p-service__inner">
                        <li class="p-serivice-list-item --house">
                            <h2 class="p-serivice-list-item__heading">
                                住宅事業
                            </h2>
                            <div class="p-serivice-list-item__text-right">
                                <h3 class="p-serivice-list-item__sub-heading">
                                    「安心」を提供します
                                </h3>
                                <p class="p-serivice-list-item__desc">
                                    心地よい生活を続けていくためには、安心感のある家づくりが必要になってきます。
                                    藤原建設工業では、どんなに小さなことでも、何年先でもお客様の「安心」が続くよう技術力を提供させていただきます。
                                </p>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="p-fixed-bg__area --civil">
                    <div class="p-service__inner">
                        <li class="p-serivice-list-item --civil">
                            <h2 class="p-serivice-list-item__heading">
                                土木事業
                            </h2>
                            <div class="p-serivice-list-item__text-right">
                                <h3 class="p-serivice-list-item__sub-heading">
                                    自然と生活の橋渡しに
                                </h3>
                                <p class="p-serivice-list-item__desc">
                                    土木事業では、道路工事をはじめ、トンネル・高速道路の舗装工事や河川・ダムなどの工事など、私たちの生活の基盤の保護に努めております。
                                    これからも、人々の社会をずっと支えてくれるように、守り続けて参ります。
                                </p>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <!-- /切り替えるコンテンツ -->
        </section>
    </main>
</Layout>

<style></style>

<script>
    import { gsap } from "gsap";

    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    /*==============================================================
fixedService
・背景と文字の固定
==============================================================*/

    const area = document.querySelector(".p-fixed-bg");
    const panels = document.querySelectorAll(".p-fixed-bg__area");
    const panelText = document.querySelectorAll(".p-service__inner");
    // const panelImg = document.querySelectorAll(".p-fixed-bg__img");
    const length = panels.length;

    const itemSwitch = (progress) => {
        const snapVal = gsap.utils.snap(1, progress * length - 0.5); //0 , 1 , 2...length
        const clampVal = gsap.utils.clamp(0, length - 1, snapVal); //0 ～ length -1 の間に収める
        panels.forEach((panel, index) => {
            if (index == clampVal) {
                panel.classList.add("is-active");
            } else {
                panel.classList.remove("is-active");
            }
        });
        panelText.forEach((text, index) => {
            if (index == clampVal) {
                text.classList.add("is-active");
            } else {
                text.classList.remove("is-active");
            }
        });
        // panelImg.forEach((img, index) => {
        //     if (index == clampVal) {
        //         img.classList.add("is-active");
        //     } else {
        //         img.classList.remove("is-active");
        //     }
        // });
    };

    itemSwitch(0);

    ScrollTrigger.create({
        trigger: area,
        start: "top",
        end: "+=100%",
        scrub: true,
        pin: true,
        markers: true,
        onUpdate: (self) => {
            itemSwitch(self.progress);
        },
    });
</script>
