---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title='service"'>
    <main>
        <section class="p-serivice">
            <div class="l-mv">
                <h1>事業内容</h1>
            </div>
            <ul class="p-serivice-list">
                <li class="p-serivice-list-item">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <h3 class="p-serivice-list-item__sub-heading">
                        安心して集える場を
                    </h3>
                    <p class="p-serivice-list-item__desc">
                        私たちはこれまでお客様の安全を第一に考えて参りました。
                        建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                        自慢の技術を是非ご覧ください。
                    </p>
                </li>
                <li class="p-serivice-list-item">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <h3 class="p-serivice-list-item__sub-heading">
                        安心して集える場を
                    </h3>
                    <p class="p-serivice-list-item__desc">
                        私たちはこれまでお客様の安全を第一に考えて参りました。
                        建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                        自慢の技術を是非ご覧ください。
                    </p>
                </li>
                <li class="p-serivice-list-item">
                    <h2 class="p-serivice-list-item__heading">建築事業</h2>
                    <h3 class="p-serivice-list-item__sub-heading">
                        安心して集える場を
                    </h3>
                    <p class="p-serivice-list-item__desc">
                        私たちはこれまでお客様の安全を第一に考えて参りました。
                        建築事業では、そんな「安全」が「人」に伝えられるよう技術力を日々高めています。
                        自慢の技術を是非ご覧ください。
                    </p>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style></style>
