<section class="l-subfooter">
    <ul>
        <li>
            <a href="contact">
                <img src="/images/footer_contact.png" alt="" class="bg-image" />
                <div class="mask"></div>
                <div class="text --contact">
                    <p>お問い合わせ</p>
                </div>
            </a>
        </li>
        <li>
            <a href="recruit">
                <img src="/images/footer_recruit.png" alt="" class="bg-image" />
                <div class="mask"></div>
                <div class="text --recruit">
                    <p>採用情報</p>
                </div>
            </a>
        </li>
    </ul>
</section>
